* {
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.mode {
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    color: rgb(250, 0, 0);
}

.mode.active {
    color: rgb(0, 250, 0);
}

.sketchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  100px 0;
}

.settings {
    height: 350px;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin: 0 100px;
    box-shadow: 0 1px 10px 1px black;
}

.gridItem {
    background-color: white;
}

.gridItem.black {
    background-color: black;
}

.currentGridSize {
    text-align: center;
}

.changeGridContainer {
    display: flex;
}

#inputGridVal {
    width: 120px;
    margin: 0 30px 0 0;
}

.gridMessage {
    text-align: center;
    font-size: 16px;
}